code/node-red/flows-2.json
[
    {
        "id": "f5b7bcbd12e35b10",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3500dfefcac83723",
        "type": "mqtt in",
        "z": "f5b7bcbd12e35b10",
        "name": "",
        "topic": "DATA",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "85c01ed911093c18",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 80,
        "wires": [
            [
                "5dea03428b9e9609",
                "d046ee9ed77e3e08"
            ]
        ]
    },
    {
        "id": "b043d019d68def74",
        "type": "debug",
        "z": "f5b7bcbd12e35b10",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 260,
        "wires": []
    },
    {
        "id": "3f968b2b970e42ac",
        "type": "ui-text",
        "z": "f5b7bcbd12e35b10",
        "group": "03332144b57fd989",
        "order": 2,
        "width": "6",
        "height": "1",
        "name": "Analyze_Result",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": true,
        "font": "Arial Narrow,Nimbus Sans L,sans-serif",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 640,
        "y": 300,
        "wires": []
    },
    {
        "id": "d84b4c244d9974ea",
        "type": "ui-chart",
        "z": "f5b7bcbd12e35b10",
        "group": "1526591e5cbd91b8",
        "name": "IMU1_GYRO",
        "label": "IMU_1 Gyroscope",
        "order": 2,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "time",
        "xAxisProperty": "idx",
        "xAxisPropertyType": "msg",
        "xAxisType": "linear",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "m/s^2",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "-800",
        "ymax": "800",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": "3",
        "showLegend": true,
        "removeOlder": "5",
        "removeOlderUnit": "60",
        "removeOlderPoints": "500",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": 6,
        "height": 8,
        "className": "",
        "interpolation": "linear",
        "x": 810,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "bdf0332c5de73bf4",
        "type": "mqtt in",
        "z": "f5b7bcbd12e35b10",
        "name": "RESULT",
        "topic": "RESULT",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "85c01ed911093c18",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 340,
        "wires": [
            [
                "4e8822d066ba0be4",
                "b04a4b0cd6813654"
            ]
        ]
    },
    {
        "id": "5dea03428b9e9609",
        "type": "function",
        "z": "f5b7bcbd12e35b10",
        "name": "chart_function",
        "func": "let payload = msg.payload;\n\nif (Buffer.isBuffer(payload)) {\n    payload = payload.toString();\n}\n\nif (typeof payload === \"string\") {\n    try {\n        payload = JSON.parse(payload);\n\n\n    } catch (e) {\n        node.warn(\"payload not legal JSON: \" + payload);\n        return null;\n    }\n}\n\nif (!payload) {\n    return null;\n}\n\n// 现在 imu_start 已经关闭，但保留兼容\nif (payload.type === \"imu_start\") {\n    node.status({ fill: \"blue\", shape: \"ring\", text: \"start\" });\n    return null;\n}\n\nif (payload.type === \"imu_end\") {\n    node.status({\n        fill: \"green\",\n        shape: \"dot\",\n        text: `done pairs=${payload.pairs ?? \"\"}`\n    });\n    return null;\n}\n\nif (payload.type !== \"imu\") {\n    return null;\n}\n\n// 新格式字段：i0 / i1\nif (\n    !payload.i0 || !payload.i1 ||\n    !payload.i0.a || !payload.i0.g ||\n    !payload.i1.a || !payload.i1.g\n) {\n    node.warn(\"missing i0/i1 acc or gyro fields\");\n    return null;\n}\n\nlet idx = payload.idx ?? 0;\n\n// 如果想每次新 batch 清空 chart\nlet imu0_acc = [];\nlet imu0_gyro = [];\nlet imu1_acc = [];\nlet imu1_gyro = [];\n\nif (idx === 0) {\n    imu0_acc.push({ payload: [] });\n    imu0_gyro.push({ payload: [] });\n    imu1_acc.push({ payload: [] });\n    imu1_gyro.push({ payload: [] });\n\n    node.status({\n        fill: \"blue\",\n        shape: \"ring\",\n        text: `batch total=${payload.total ?? \"\"}`\n    });\n}\n\nif (payload.idx % 5 !== 0) return null;\n// IMU0 加速度 Output 1\nimu0_acc.push(\n    { topic: \"Acc_X\", payload: payload.i0.a[0], timestamp: idx, idx },\n    { topic: \"Acc_Y\", payload: payload.i0.a[1], timestamp: idx, idx },\n    { topic: \"Acc_Z\", payload: payload.i0.a[2], timestamp: idx, idx }\n);\n\n// IMU0 陀螺仪 Output 2\nimu0_gyro.push(\n    { topic: \"Gyro_X\", payload: payload.i0.g[0], timestamp: idx, idx },\n    { topic: \"Gyro_Y\", payload: payload.i0.g[1], timestamp: idx, idx },\n    { topic: \"Gyro_Z\", payload: payload.i0.g[2], timestamp: idx, idx }\n);\n\n// IMU1 加速度 Output 3\nimu1_acc.push(\n    { topic: \"Acc_X\", payload: payload.i1.a[0], timestamp: idx, idx },\n    { topic: \"Acc_Y\", payload: payload.i1.a[1], timestamp: idx, idx },\n    { topic: \"Acc_Z\", payload: payload.i1.a[2], timestamp: idx, idx }\n);\n\n// IMU1 陀螺仪 Output 4\nimu1_gyro.push(\n    { topic: \"Gyro_X\", payload: payload.i1.g[0], timestamp: idx, idx },\n    { topic: \"Gyro_Y\", payload: payload.i1.g[1], timestamp: idx, idx },\n    { topic: \"Gyro_Z\", payload: payload.i1.g[2], timestamp: idx, idx }\n);\n\nreturn [imu0_acc, imu0_gyro, imu1_acc, imu1_gyro];\n",
        "outputs": 4,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 80,
        "wires": [
            [
                "b043d019d68def74",
                "39a107e83cbccb71"
            ],
            [
                "d84b4c244d9974ea"
            ],
            [
                "c09d22e2ba53f59c"
            ],
            [
                "26275df2eff21fd1"
            ]
        ]
    },
    {
        "id": "d046ee9ed77e3e08",
        "type": "debug",
        "z": "f5b7bcbd12e35b10",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 260,
        "y": 40,
        "wires": []
    },
    {
        "id": "39a107e83cbccb71",
        "type": "ui-chart",
        "z": "f5b7bcbd12e35b10",
        "group": "1526591e5cbd91b8",
        "name": "IMU1_ACC",
        "label": "IMU_1 Acceleration",
        "order": 1,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "idx",
        "xAxisPropertyType": "msg",
        "xAxisType": "linear",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "m/s^2",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "-80",
        "ymax": "80",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "line",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": "1",
        "removeOlderUnit": "86400",
        "removeOlderPoints": "500",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": 6,
        "height": 8,
        "className": "",
        "interpolation": "linear",
        "x": 810,
        "y": 20,
        "wires": [
            []
        ]
    },
    {
        "id": "80d5b3ea539c42d3",
        "type": "ui-button",
        "z": "f5b7bcbd12e35b10",
        "group": "03332144b57fd989",
        "name": "reset",
        "label": "button",
        "order": 1,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "RESET CHART",
        "iconPosition": "left",
        "payload": "[]",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 450,
        "y": 220,
        "wires": [
            [
                "39a107e83cbccb71",
                "d84b4c244d9974ea",
                "c09d22e2ba53f59c",
                "26275df2eff21fd1"
            ]
        ]
    },
    {
        "id": "c09d22e2ba53f59c",
        "type": "ui-chart",
        "z": "f5b7bcbd12e35b10",
        "group": "22b5c499cbd7dfb1",
        "name": "IMU2_ACC",
        "label": "IMU_2 Accleration",
        "order": 1,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "idx",
        "xAxisPropertyType": "msg",
        "xAxisType": "linear",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "m/s^2",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "-80",
        "ymax": "80",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "line",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": "1",
        "removeOlderUnit": "86400",
        "removeOlderPoints": "500",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": 6,
        "height": 8,
        "className": "",
        "interpolation": "linear",
        "x": 810,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "26275df2eff21fd1",
        "type": "ui-chart",
        "z": "f5b7bcbd12e35b10",
        "group": "22b5c499cbd7dfb1",
        "name": "IMU2_GYRO",
        "label": "IMU_2 Gyroscope",
        "order": 2,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "time",
        "xAxisProperty": "idx",
        "xAxisPropertyType": "msg",
        "xAxisType": "linear",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "m/s^2",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "-800",
        "ymax": "800",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "line",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": "5",
        "removeOlderUnit": "60",
        "removeOlderPoints": "500",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": 6,
        "height": 8,
        "className": "",
        "interpolation": "linear",
        "x": 810,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "08bf32a3a5f3871f",
        "type": "mqtt out",
        "z": "f5b7bcbd12e35b10",
        "name": "",
        "topic": "OTA",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "85c01ed911093c18",
        "x": 430,
        "y": 960,
        "wires": []
    },
    {
        "id": "2ede55769a4e2b7c",
        "type": "ui-button",
        "z": "f5b7bcbd12e35b10",
        "group": "2a40b6f77585c471",
        "name": "OTA",
        "label": "button",
        "order": 1,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "DO-OTA",
        "iconPosition": "left",
        "payload": "do ota",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 250,
        "y": 960,
        "wires": [
            [
                "08bf32a3a5f3871f",
                "72e127c8739f4927"
            ]
        ]
    },
    {
        "id": "b04a4b0cd6813654",
        "type": "debug",
        "z": "f5b7bcbd12e35b10",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 260,
        "y": 480,
        "wires": []
    },
    {
        "id": "4e8822d066ba0be4",
        "type": "function",
        "z": "f5b7bcbd12e35b10",
        "name": "result_display",
        "func": "let payload = msg.payload;\n\n// 1. buffer → string\nif (Buffer.isBuffer(payload)) {\n    payload = payload.toString();\n}\n\n// 2. string → JSON\nif (typeof payload === \"string\") {\n    try {\n        payload = JSON.parse(payload);\n    } catch (e) {\n        node.warn(\"JSON parse failed: \" + payload);\n        return [null, null, null, null, null, null];\n    }\n}\n\n// 3. 检查格式\nif (!payload || payload.type !== \"inference_result\") {\n    node.warn(\"Not inference_result type\");\n    return [null, null, null, null, null, null];\n}\n\nlet r = payload.results;\n\n// 安全读取函数\nfunction fmt(label, prob) {\n    if (prob === undefined || prob === null) return `${label}`;\n    return `${label} (${prob.toFixed(3)})`;\n}\n\n// 6个输出\nlet msg_overall = { payload: `Overall: ${r.overall?.label ?? \"N/A\"}` };\n\nlet msg_start = { payload: `Start: ${fmt(r.start_action?.label ?? \"N/A\", r.start_action?.prob_good)}` };\n\nlet msg_finish = { payload: `Finish: ${fmt(r.finish_action?.label ?? \"N/A\", r.finish_action?.prob_good)}` };\n\nlet msg_cont = { payload: `Continuity: ${fmt(r.continuity?.label ?? \"N/A\", r.continuity?.prob_good)}` };\n\nlet msg_offset = { payload: `Offset: ${fmt(r.offset?.label ?? \"N/A\", r.offset?.prob_good)}` };\n\nlet msg_wrist = { payload: `Wrist: ${fmt(r.wrist_action?.label ?? \"N/A\", r.wrist_action?.prob_good)}` };\n\n// 返回6路\nreturn [\n    msg_overall,\n    msg_start,\n    msg_finish,\n    msg_cont,\n    msg_offset,\n    msg_wrist\n];",
        "outputs": 6,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 340,
        "wires": [
            [
                "3f968b2b970e42ac"
            ],
            [
                "4858bd25eaa6e999"
            ],
            [
                "511e4f5a74baa71e"
            ],
            [
                "7c7032c0eb368893"
            ],
            [
                "eb376c8fe8e1762a"
            ],
            [
                "da4e6ea0b47ab78f"
            ]
        ]
    },
    {
        "id": "72e127c8739f4927",
        "type": "debug",
        "z": "f5b7bcbd12e35b10",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 860,
        "wires": []
    },
    {
        "id": "511e4f5a74baa71e",
        "type": "ui-text",
        "z": "f5b7bcbd12e35b10",
        "group": "03332144b57fd989",
        "order": 7,
        "width": "6",
        "height": "1",
        "name": "Analyze_Result",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": true,
        "font": "Arial Narrow,Nimbus Sans L,sans-serif",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 640,
        "y": 380,
        "wires": []
    },
    {
        "id": "7c7032c0eb368893",
        "type": "ui-text",
        "z": "f5b7bcbd12e35b10",
        "group": "03332144b57fd989",
        "order": 6,
        "width": "6",
        "height": "1",
        "name": "Analyze_Result",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": true,
        "font": "Arial Narrow,Nimbus Sans L,sans-serif",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 640,
        "y": 420,
        "wires": []
    },
    {
        "id": "eb376c8fe8e1762a",
        "type": "ui-text",
        "z": "f5b7bcbd12e35b10",
        "group": "03332144b57fd989",
        "order": 5,
        "width": "6",
        "height": "1",
        "name": "Analyze_Result",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": true,
        "font": "Arial Narrow,Nimbus Sans L,sans-serif",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 640,
        "y": 460,
        "wires": []
    },
    {
        "id": "da4e6ea0b47ab78f",
        "type": "ui-text",
        "z": "f5b7bcbd12e35b10",
        "group": "03332144b57fd989",
        "order": 4,
        "width": "6",
        "height": "1",
        "name": "Analyze_Result",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": true,
        "font": "Arial Narrow,Nimbus Sans L,sans-serif",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 640,
        "y": 500,
        "wires": []
    },
    {
        "id": "4858bd25eaa6e999",
        "type": "ui-text",
        "z": "f5b7bcbd12e35b10",
        "group": "03332144b57fd989",
        "order": 3,
        "width": "6",
        "height": "1",
        "name": "Analyze_Result",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": true,
        "font": "Arial Narrow,Nimbus Sans L,sans-serif",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 640,
        "y": 340,
        "wires": []
    },
    {
        "id": "81071db617ca32e1",
        "type": "ui-template",
        "z": "f5b7bcbd12e35b10",
        "group": "05063a0298a13c2c",
        "page": "",
        "ui": "",
        "name": "Tutorial Video",
        "order": 1,
        "width": "0",
        "height": "0",
        "head": "",
        "format": "<iframe width=\"100%\" height=\"315\" src=\"https://www.youtube.com/embed/Ak5OLUTA2hY?start=19\" frameborder=\"0\"\n    allow=\"accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture\" allowfullscreen>\n</iframe>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 180,
        "y": 1100,
        "wires": [
            []
        ]
    },
    {
        "id": "85c01ed911093c18",
        "type": "mqtt-broker",
        "name": "AzureMqttBroker",
        "broker": "20.25.211.36",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "03332144b57fd989",
        "type": "ui-group",
        "name": "Result & Analyze",
        "page": "d62d4d1835d83d56",
        "width": 6,
        "height": 1,
        "order": 3,
        "showTitle": true,
        "className": "",
        "visible": true,
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "1526591e5cbd91b8",
        "type": "ui-group",
        "name": "IMU_1",
        "page": "d62d4d1835d83d56",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "22b5c499cbd7dfb1",
        "type": "ui-group",
        "name": "IMU_2",
        "page": "d62d4d1835d83d56",
        "width": 6,
        "height": 1,
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "2a40b6f77585c471",
        "type": "ui-group",
        "name": "OTA",
        "page": "d62d4d1835d83d56",
        "width": 6,
        "height": "2",
        "order": 5,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "05063a0298a13c2c",
        "type": "ui-group",
        "name": "Tutorial Video",
        "page": "d62d4d1835d83d56",
        "width": "6",
        "height": "8",
        "order": 4,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "d62d4d1835d83d56",
        "type": "ui-page",
        "name": "Home",
        "ui": "ba50324fc8e99027",
        "path": "/page1",
        "icon": "home",
        "layout": "grid",
        "theme": "49d0869b64ff4bb0",
        "breakpoints": [
            {
                "cols": "3",
                "name": "Default",
                "px": "0"
            },
            {
                "cols": "6",
                "name": "Tablet",
                "px": "576"
            },
            {
                "cols": "9",
                "name": "Small Desktop",
                "px": "768"
            },
            {
                "cols": "12",
                "name": "Desktop",
                "px": "1024"
            }
        ],
        "order": 1,
        "className": "",
        "visible": true,
        "disabled": false
    },
    {
        "id": "ba50324fc8e99027",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": false
    },
    {
        "id": "49d0869b64ff4bb0",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc",
            "primary": "#0094CE",
            "surface": "#ffffff"
        },
        "sizes": {
            "density": "default",
            "groupBorderRadius": "4px",
            "groupGap": "12px",
            "pagePadding": "12px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "4d83bab828f337cd",
        "type": "global-config",
        "env": [],
        "modules": {
            "@flowfuse/node-red-dashboard": "1.30.2"
        }
    }
]